/* #region grid layout */

.container {
    width: 95%;
    margin: auto;
}

.row {
    display: flex;
    flex-wrap: wrap;
    margin: 0 -0.5rem;
}

[class*="col-"] {
    padding: 0.5rem;
}

.col-1 {
    width: calc((100% / 12) * 1);
}

.col-2 {
    width: calc((100% / 12) * 2);
}

.col-3 {
    width: calc((100% / 12) * 3);
}

.col-4 {
    width: calc((100% / 12) * 4);
}

.col-5 {
    width: calc((100% / 12) * 5);
}

.col-6 {
    width: 50%;
}

.col-7 {
    width: calc((100% / 12) * 7);
}

.col-8 {
    width: calc((100% / 12) * 8);
}

.col-9 {
    width: calc((100% / 12) * 9);
}

.col-10 {
    width: calc((100% / 12) * 10);
}

.col-11 {
    width: calc((100% / 12) * 11);
}

.col-12 {
    width: 100%;
}
/* #endregion grid layout */


/* #region media query */
/* md */
@media screen and (max-width: 1100px) {
    .col-md-1 {
        width: calc((100% / 12) * 1);
    }
    
    .col-md-2 {
        width: calc((100% / 12) * 2);
    }
    
    .col-md-3 {
        width: calc((100% / 12) * 3);
    }
    
    .col-md-4 {
        width: calc((100% / 12) * 4);
    }
    
    .col-md-5 {
        width: calc((100% / 12) * 5);
    }
    
    .col-md-6 {
        width: 50%;
    }
    
    .col-md-7 {
        width: calc((100% / 12) * 7);
    }
    
    .col-md-8 {
        width: calc((100% / 12) * 8);
    }
    
    .col-md-9 {
        width: calc((100% / 12) * 9);
    }
    
    .col-md-10 {
        width: calc((100% / 12) * 10);
    }
    
    .col-md-11 {
        width: calc((100% / 12) * 11);
    }
    
    .col-md-12 {
        width: 100%;
    }
}

/* s */
@media screen and (max-width:700px) {
    .col-s-1 {
        width: calc((100% / 12) * 1);
    }
    
    .col-s-2 {
        width: calc((100% / 12) * 2);
    }
    
    .col-s-3 {
        width: calc((100% / 12) * 3);
    }
    
    .col-s-4 {
        width: calc((100% / 12) * 4);
    }
    
    .col-s-5 {
        width: calc((100% / 12) * 5);
    }
    
    .col-s-6 {
        width: 50%;
    }
    
    .col-s-7 {
        width: calc((100% / 12) * 7);
    }
    
    .col-s-8 {
        width: calc((100% / 12) * 8);
    }
    
    .col-s-9 {
        width: calc((100% / 12) * 9);
    }
    
    .col-s-10 {
        width: calc((100% / 12) * 10);
    }
    
    .col-s-11 {
        width: calc((100% / 12) * 11);
    }
    
    .col-s-12 {
        width: 100%;
    }
}

/* xs */
@media screen and (max-width:600px) {
    .col-xs-1 {
        width: calc((100% / 12) * 1);
    }
    
    .col-xs-2 {
        width: calc((100% / 12) * 2);
    }
    
    .col-xs-3 {
        width: calc((100% / 12) * 3);
    }
    
    .col-xs-4 {
        width: calc((100% / 12) * 4);
    }
    
    .col-xs-5 {
        width: calc((100% / 12) * 5);
    }
    
    .col-xs-6 {
        width: 50%;
    }
    
    .col-xs-7 {
        width: calc((100% / 12) * 7);
    }
    
    .col-xs-8 {
        width: calc((100% / 12) * 8);
    }
    
    .col-xs-9 {
        width: calc((100% / 12) * 9);
    }
    
    .col-xs-10 {
        width: calc((100% / 12) * 10);
    }
    
    .col-xs-11 {
        width: calc((100% / 12) * 11);
    }
    
    .col-xs-12 {
        width: 100%;
    }
    
}
/* #endregion media query */
