/* #region Common */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    height: 100vh;
    overflow: hidden;
}

img {
    max-width: 100%;
    display: block;
}

a {
    text-decoration: none;
}

:root {
    --spoti-content-bg: #141922;
    --spoti-dark: #000000;
    --spoti-light: #ffffff;
    --spoti-upgrade-bg: #080b12;
    --spoti-bottom-bg: #282828;
    --spoti-sidebar-text-dark: #a3a3a3;
    --spoti-sidebar-text-light: #d2d2d2;
    --spoti-content-text-dark: #7d7f84;
    --spoti-content-text-light: #fafafb;
    --spoti-content-selected-section: #adff2f;
    --spoti-content-album-subtitle: #7b7d82;
    --spoti-playbar-dark: #5a5a5a;
    --spoti-playbar-light: #c1c1c1; 
}
/* #endregion Common */

/* #region debug */
.debug * {
    border: 1px dashed;
}

/* #endregion debug */

/* #region utilities */
.d-flex {
    display: flex;
}

.list-unstyled {
    list-style: none;
}

.sidebar_container {
    width: 80%;
    margin: auto;
}
/* #endregion utilities */


/* #region top */
#top {
    height: calc(100% - 90px);
}

#sidebar {
    /* overflow-y: auto; */
    overflow: hidden;
    width: 230px;
    flex-shrink: 0;
    background-color: var(--spoti-dark);
    padding-top: 1.25rem;

    .sidebar_container {
        flex-direction: column;
        min-height: 100%;
    }

    .logo {
        padding-bottom: 1.5rem;

        #logo_regular {
            width: 70%;
        }

        #logo_small {
            display: none;
            width: 30px;
        }
    } 

    .side_menu {
        padding-bottom: 1.875rem;

        li {
            line-height: 2.2rem;

            a {
                display: flex;
                align-items: center;


                svg {
                    width: 20px;
                    fill: var(--spoti-sidebar-text-dark);
                }

                span {
                    color: var(--spoti-content-text-dark);
                    padding-left: 0.5rem;
                    font-size: 0.875rem;
                }
            }

            &:hover {
                svg {
                    
                    fill: var(--spoti-light);
                }

                span {
                    color: var(--spoti-light);
                }
            }
        }

        li#home {
            position: relative;

            &::before {
                content: "";
                height: 2.2rem;
                width: 3px;
                background-color: var(--spoti-content-selected-section);
                position: absolute;
                top: 0;
                left: -23px;
            }
        }
    }

    .playlist {

        h3 {
            color: var(--spoti-sidebar-text-light);
            font-size: 0.9rem;
            padding-bottom: 1rem;
        }

        #new_playlist {
            padding-bottom: 1.5rem;
            a {
                align-items: center;
                gap: 0.625rem;

                svg {
                    fill: var(--spoti-sidebar-text-dark);
                    width: 2.25rem;

                    &:hover {
                        fill: var(--spoti-light);
                    }
                }
    
                span {
                    color: var(--spoti-sidebar-text-dark);

                    &:hover {
                        color: var(--spoti-light);
                    }
                }
            }

        }

        ul {
            li {
                padding-bottom: 1.5rem;
                a {
                    color: var(--spoti-sidebar-text-dark);

                    &:hover {
                        color:var(--spoti-light)
                    }
                }
            }
        }
    }

    .install_app {
        margin-top: auto;
        padding-bottom: 0.8rem;
        border-bottom: 2px solid var(--spoti-sidebar-text-dark);

        a {

            &:hover {
                svg {
                    fill: var(--spoti-light);
                }
                span {
                    color: var(--spoti-light);
                }
            }

            svg {
                width: 12px;
                fill: var(--spoti-sidebar-text-dark);
            }

            span {
                font-size: 0.875;
                padding-left: 0.8rem;
                color: var(--spoti-sidebar-text-dark);
            }
        }

    }

    .profile {
        padding-top: 0.8rem;
        padding-bottom: 0.5rem;

        a {
            svg {
                background-color: var(--spoti-sidebar-text-dark);
                border-radius: 50%;
                width: 1.5rem;
                aspect-ratio: 1;
            }

            span {
                color: var(--spoti-sidebar-text-dark);
                padding-left: 0.625rem;
                font-weight: 900;
            }
        }
    }
}

#content {
    flex-grow: 1;
    overflow-y: auto;
    background-color: var(--spoti-content-bg);

    header {
        height: 90px;
        background-color: var(--spoti-upgrade-bg);
        opacity: 0.9;
        justify-content: end;
        align-items: center;
        position: sticky;
        top: 0;
        left: 0;
        width: 100%;
        z-index: 1000;

        button.btn {
            width: 218px;
            height: 42px;
            background-color: transparent;
            color: var(--spoti-light);
            border: 2px solid var(--spoti-light);
            border-radius: 2rem;
            font-size: 0.875rem;
            /* margin-right: 5px; */
            margin-right: 1rem;
        }

        & button.btn:hover {
            scale: 110%;
        }
    }

    nav {
        justify-content: center;
        padding-top: 23px;

        ul {
            flex-wrap: wrap;
            justify-content: center;
            gap: 1.5rem;
        }

        & ul li:first-child {
            position: relative;
        }

        & ul li:first-child::before {
            content: "";
            width: 30px;
            height: 3px;
            background-color: var(--spoti-content-selected-section);
            position: absolute;
            bottom: -5px;
            left: calc(50% - 15px);
        }

        a {
            color: var(--spoti-content-text-dark);
            font-size: 0.875rem;
            font-weight: bold;
        }

        & a:hover {
            color: var(--spoti-light);
        }

    }

    main {

        section {
            padding-bottom: 3rem;
        }

        h2 {
            font-size: 1.5rem;
            font-weight: 700;
            color: var(--spoti-content-text-light);
            padding-bottom: 2.2rem;                
        }

        h3 {
            font-size: 1.125rem;
            color: var(--spoti-content-text-light);
            padding: 1.25rem 0 1rem;
            text-align: center;
        }

        h4 {
            font-size: 0.875rem;
            color: var(--spoti-content-album-subtitle);
        }

        .card {
            .preview {
                position: relative;
    
                & img:last-child {
                    display: none;
                }
            }
    
            .preview:hover img:first-child {
                filter: opacity(0.5);
            }
            .preview:hover img:last-child {
                display: block;
                width: 30%;
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
            }

            h4 {
                text-align: center;
            }
        }

        section#recent {
            padding-top: 2.5rem;
            
        }

        section#for_you, section#most_popular {
            h2 {
                padding-bottom: 1.25rem;
            }

            h4 {
                padding-bottom: 2rem;
            }
        }

        section#most_popular {
            .card .preview img {
                border-radius: 50%;
            }
        }

    }
}
/* #endregion top */

/* #region bottom */
#bottom {
    height: 90px;
    background-color: var(--spoti-bottom-bg);
    padding: 0.75rem 0.625rem 1.625rem;
}

#bottom_left {
    width: calc(100% / 3);
    justify-content: start;
    align-items: center;
    /* padding-left: 0.625rem; */

    .album_img {
        width: 2.625rem;
        padding-right: 0.781rem;
    }

    .artist {
        flex-direction: column;
        color: var(--spoti-light);
        padding-right: 1.5rem;

        h4 {
            font-size: 0.813rem;
        }

        span {
            font-size: 0.688rem;
            color: var(--spoti-sidebar-text-dark);

            &:hover {
                color: var(--spoti-light);
                text-decoration: underline;
            }
        }
    }

    .actions {
        gap: 0.875rem;

        svg {
            width: 1rem;
            fill: var(--spoti-sidebar-text-dark);

            &:hover {
                fill: var(--spoti-light);
            }
        }
    }
}

#bottom_center {
    width: calc(100% / 3);

    .bar {
        align-items: center;
        gap: 0.2rem;
        color: white;
        width: 100%;

        .time {
            font-size: 0.75rem;
        }

        .playbar {
            background-color: var(--spoti-playbar-dark);
            border-radius: 0.5rem;
            /* width: 26.5rem; */
            width: 100%;
            height: 0.3rem;

            .playtime {
                background-color: var(--spoti-playbar-light);
                width: 20%;
                height: 100%;
                border-radius: 0.5rem;
                position: relative;

                .round {
                    display: none;
                    position: absolute;
                    top: 50%;
                    right: 0;
                    transform: translate(50%, -50%);
                    background-color: var(--spoti-light);
                    width: 1rem;
                    aspect-ratio: 1;
                    border-radius: 50%;
                }
            }
            
            &:hover {
                .playtime {
                     background-color: var(--spoti-content-selected-section);
                }

                .round {
                    display: block;
                }
            }
        }
    }
}

#bottom_right {

}
/* #endregion bottom */


/* #region media queries */
/* md */
@media screen and (max-width: 1100px) {
    
}

/* s */
@media screen and (max-width: 700px) {
    #bottom {

        #bottom_left {
            .actions{
                flex-direction: column;
                justify-content: center;
                gap: 0.3rem;
            }
        }
    }
}

/* xs */
@media screen and (max-width: 600px) {
    #top {

        #sidebar {
            width: 50px;

            .sidebar_container {
                align-items: center;
            }

            .logo {
                padding-bottom: 1rem;

                #logo_regular {
                    display: none;
                }

                #logo_small {
                    display: block;
                }
            }

            .side_menu {
                li {
                    margin-bottom: 0.875rem;

                    span {
                        display: none;
                    }
                }

                & li#home::before {
                    content: none;
                }
            }

            .playlist {
                display: none;
            }

            .install_app {
                border-bottom: none;
                span {
                    display: none;
                }
            }

            .profile {
                span {
                    display: none;
                }
            }
        }

        #content {
            header {
                padding: 0 30px;
            }
        }
    }

    #bottom {

        #bottom_left {

            .artist {
                span {
                    max-width: 3rem;
                }
            }
        }
    }
}
/* #endregion media queries */
