/* #region Common */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    height: 100vh;
    overflow: hidden;
}

img {
    max-width: 100%;
    display: block;
}

a {
    text-decoration: none;
}

:root {
    --spoti-content-bg: #141922;
    --spoti-dark: #000000;
    --spoti-light: #ffffff;
    --spoti-upgrade-bg: #080b12;
    --spoti-bottom-bg: #282828;
    --spoti-sidebar-text-dark: #a3a3a3;
    --spoti-sidebar-text-light: #d2d2d2;
    --spoti-content-text-dark: #7d7f84;
    --spoti-content-text-light: #fafafb;
    --spoti-content-selected-section: #adff2f;
    --spoti-content-album-subtitle: #7b7d82;
}
/* #endregion Common */

/* #region debug */
.debug * {
    border: 1px dashed;
}

/* #endregion debug */

/* #region utilities */
.d-flex {
    display: flex;
}

.list-unstyled {
    list-style: none;
}
/* #endregion utilities */


/* #region top */
#top {
    height: calc(100% - 90px);
}

#sidebar {
    width: 230px;
    flex-shrink: 0;
    background-color: var(--spoti-dark);
}

#content {
    flex-grow: 1;
    overflow-y: auto;
    background-color: var(--spoti-content-bg);

    header {
        height: 90px;
        background-color: var(--spoti-upgrade-bg);
        opacity: 0.9;
        justify-content: end;
        align-items: center;
        position: sticky;
        top: 0;
        left: 0;
        width: 100%;
        z-index: 1000;

        button.btn {
            width: 218px;
            height: 42px;
            background-color: transparent;
            color: var(--spoti-light);
            border: 2px solid var(--spoti-light);
            border-radius: 2rem;
            font-size: 0.875rem;
            /* margin-right: 5px; */
            margin-right: 1rem;
        }

        & button.btn:hover {
            scale: 110%;
        }
    }

    nav {
        justify-content: center;
        padding-top: 23px;

        ul {
            flex-wrap: wrap;
            justify-content: center;
            gap: 1.5rem;
        }

        & ul li:first-child {
            position: relative;
        }

        & ul li:first-child::before {
            content: "";
            width: 30px;
            height: 3px;
            background-color: var(--spoti-content-selected-section);
            position: absolute;
            bottom: -5px;
            left: calc(50% - 15px);
        }

        a {
            color: var(--spoti-content-text-dark);
            font-size: 0.875rem;
            font-weight: bold;
        }

        & a:hover {
            color: var(--spoti-light);
        }

    }

    main {

        section {
            padding-bottom: 3rem;
        }

        h2 {
            font-size: 1.5rem;
            font-weight: 700;
            color: var(--spoti-content-text-light);
            padding-bottom: 2.2rem;                
        }

        h3 {
            font-size: 1.125rem;
            color: var(--spoti-content-text-light);
            padding: 1.25rem 0 1rem;
            text-align: center;
        }

        h4 {
            font-size: 0.875rem;
            color: var(--spoti-content-album-subtitle);
        }

        .card {
            .preview {
                position: relative;
    
                & img:last-child {
                    display: none;
                }
            }
    
            .preview:hover img:first-child {
                filter: opacity(0.5);
            }
            .preview:hover img:last-child {
                display: block;
                width: 30%;
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
            }

            h4 {
                text-align: center;
            }
        }

        section#recent {
            padding-top: 2.5rem;
            
        }

        section#for_you, section#most_popular {
            h2 {
                padding-bottom: 1.25rem;
            }

            h4 {
                padding-bottom: 2rem;
            }
        }

        section#most_popular {
            .card .preview img {
                border-radius: 50%;
            }
        }

    }
}
/* #endregion top */

/* #region bottom */
#bottom {
    height: 90px;
    background-color: var(--spoti-bottom-bg);

}
/* #endregion bottom */


/* #region media queries */
/* md */
@media screen and (max-width: 1100px) {
    
}

/* s */
@media screen and (max-width: 700px) {
    
}

/* xs */
@media screen and (max-width: 600px) {
    #top {

        #sidebar {
            width: 50px;
        }

        #content {
            header {
                padding: 0 30px;
            }
        }
    }
}
/* #endregion media queries */
