/* #region Common */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    height: 100vh;
    overflow: hidden;
}

img {
    max-width: 100%;
    display: block;
}

:root {
    --spoti-content-bg: #141922;
    --spoti-dark: #000000;
    --spoti-light: #ffffff;
    --spoti-upgrade-bg: #080b12;
    --spoti-bottom-bg: #282828;
    --spoti-text-dark: #a3a3a3;
    --spoti-text-light: #d2d2d2;
}
/* #endregion Common */

/* #region debug */
.debug * {
    border: 1px dashed;
}

/* #endregion debug */

/* #region utilities */
.d-flex {
    display: flex;
}
/* #endregion utilities */


/* #region top */
#top {
    height: calc(100% - 80px);
}

#sidebar {
    width: 245px;
    background-color: var(--spoti-dark);
}

#content {
    flex-grow: 1;
    overflow-y: auto;
    background-color: var(--spoti-content-bg);

}
/* #endregion top */

/* #region bottom */
#bottom {
    height: 80px;
    background-color: var(--spoti-bottom-bg);

}
/* #endregion bottom */


/* #region media queries */
/* md */
@media screen and (max-width: 1100px) {
    
}

/* s */
@media screen and (max-width: 700px) {
    
}

/* xs */
@media screen and (max-width: 600px) {
    #top {

        #sidebar {
            width: 50px;
        }
    }
}
/* #endregion media queries */
